<!DOCTYPE html>
<html>
<head>
    <meta charset="EUC-KR"/>
    <title>Log Management</title>
    <link rel="stylesheet" href="public/css/style.css"/>
</head>
<body>
<div id="mainError">
    <header class="errorName" id="header">
   <%=errorHead%>
    </header>
    <section>
        <h4>ErrorLog : </h4>
        <p id="section"><%=errorlog%></p>
    </section>
    <aside>
        <p>LogQueue</p>
        <% for(let i=0;i<errorQueue.length;i++){ %>
            <% if(errorQueue[i] != undefined) { %>
        <input type="button" class= "article" id="article" onclick="testFunc()" value="<%= errorQueue[i]%>">
            <% } %>
        <% } %>
        </article>
    </aside>
    <footer>
        <p>important : </p>
    </footer>
</div>
<script src="index.js"></script>
<script src="rayout.js"></script>
<script src="findId.js"></script>
</body>
</html>
