<!DOCTYPE html>
<html>
<head>
    <meta charset="EUC-KR"/>
    <title>Log Management</title>
    <link rel="stylesheet" href="public/css/style.css"/>
</head>
<body>
<div id="mainError">
    <header class="errorName">
        <p id="Errorname"><%=errorHead%></p>
    </header>
    <section>
        <h4>ErrorLog : </h4>
        <div id="output">File Contents</div>
        <p><%=errorlog%></p>
    </section>
    <aside>
        <p>LogQueue</p>
        <button class="article">
            <%=errorQueue%>
        </article>
    </aside>
    <footer>
        <p>important : </p>
    </footer>
</div>
<script src="index.js"></script>
<!--<script src="rayout.js"></script>-->
</body>
</html>
